        @font-face { 
            	font-family: Score; src: url('Score.ttf'); 
       		}

		html {
				background-color: black;
			}

			#loading {
		    width: 100%;
		    height: auto;
		    margin:0 auto;
		            
		}


          #startBild {
            background-color: #000;
            width: 80%;
            height: 80%;
            display:block;
            margin:0 auto;
               
        }

        #canvasRegn {
	        display: none;
        }


	    #controller {
			display: none;    

        }


@media only screen and (min-width: 769px) {

          #startBild {
            	background-color: #000;
               	width: 40%;
               	height: 40%;
               	display:block;
               	margin:0 auto;
               
            }

        #canvasRegn {
	            display: none;
            }

        #controller {

        		display: none;
        }

}





        


