        @font-face { 
            font-family: Score; src: url('Score.ttf'); 
        }


#loading {
            width: 100%;
            height: auto;
            margin:0 auto;
            
        }


          #startBild {
            background-color: #000;
               width: 80%;
               height: 80% auto;
               display:block;
               margin:0 auto;
               
            }

        #canvasRegn {
               width: 80%;
               height: auto;
               display:block;
               margin:0 auto;
            }