        @font-face { 
            font-family: Score; src: url('Score.ttf'); 
        }

html {
	background-color: black;
}

#loading {
            width: 100%;
            height: auto;
            margin:0 auto;
            
        }


          #startBild {
            background-color: #000;
               width: 60%;
               height: 60%;
               display:block;
               margin:0 auto;
               
            }

        #canvasRegn {
               width: 60%;
               height: 60%;
               display:block;
               margin:0 auto;
            }

        	#Li {
        	float: left;
        	width: 50%;
        	height: auto;
        	margin: 0 auto;
        	border: none;
        	padding: none;
        	}

        	#Re {
        	float: left;
        	width: 50%;
        	height: auto;
        	margin: 0 auto;
        	border: none;
        	padding: none;
        	}

        	#controller {
        		      display:table-cell;
      vertical-align:middle;
      text-align:center;

        		width: 60%;
        		height: 60%;
        		display: block;
        		margin: auto;
        	}
        }


